<!DOCTYPE html>
<html>
<head>
<title>tamaKoo</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<style type="text/css">
body {
  background-image: url("/tamakoo.png");
  background-size: 130vw;/*120vw*/
  background-position: -10vw -2vh; /*-6vw 0vh*/
}
#app {
  max-width: 880px;
  margin: 0 auto;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102171754-1', 'auto');
  ga('send', 'pageview');

</script>
<body>
<div id="app"></div>
<script src="../dist/bundle.js"></script>
<script>
function fff(){
  w = $(window).width();
  var W = 744;
  h = $(window).height();
  var H = 1052;
  //$("body").css("backgroundSize", 130+"vw");
  //$("body").css("backgroundPosition", "-20vw -"+ 0.3*H-0.234*h+"px");
  console.log(0.3*H-0.234*h+"px")
}
$(window).load(function() {
  fff();
});
$(window).resize(function() {
  fff();
});
</script>
</body>
</html>
